<script type="text/javascript" src="js/controllers/myClaim.js"></script>
<!--start claim overtime time-->
	<div class="form" style="background:#FFF">
        <h1 class="title-form background-28903b">{{lang.myclaim.attached_list}}</h1>
          
        <div class="form-info scroll" ng-element-height="90">

            <ul class="list scroll form-apply">
                <li ng-click="viewFile(claimDetail.FileUrl)">
                    <div class="f-left"></div>
                    <div class="f-left" style="width:auto;">
                        <p class="hind">{{lang.myclaim.file_attached}}</p>
                        <p class="lable ">{{claimDetail.FileUrl}}</p>
                    </div>
                    <div class="clear"></div>
                </li>
                
                
                 <li ng-click="viewFile(claimDetail.FileUrl2)">
                    <div class="f-left"></div>
                    <div class="f-left" style="width:auto;">
                        <p class="hind">{{lang.myclaim.file_attached}}</p>
                        <p class="lable ">{{claimDetail.FileUrl2}}</p>
                    </div>
                    <div class="clear"></div>
                </li>
                
                
                 <li ng-click="viewFile(claimDetail.FileUrl3)">
                    <div class="f-left"></div>
                    <div class="f-left" style="width:auto;">
                        <p class="hind">{{lang.myclaim.file_attached}}</p>
                        <p class="lable ">{{claimDetail.FileUrl3}}</p>
                    </div>
                    <div class="clear"></div>
                </li>

            </ul>
        </div><!--end form-info-->
        
        
    </div><!--end form-->
	
<!--end over time detail-->

