<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>368125290175-ka3qvokeo3g2vsdlnr07o4bk1fa40cm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368125290175-ka3qvokeo3g2vsdlnr07o4bk1fa40cm5</string>
	<key>API_KEY</key>
	<string>AIzaSyBD5ypJuG5fDWKkMlAo80MsThz8xdvDzPg</string>
	<key>GCM_SENDER_ID</key>
	<string>368125290175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Payroll2U</string>
	<key>PROJECT_ID</key>
	<string>hybridapp-4d4e1</string>
	<key>STORAGE_BUCKET</key>
	<string>hybridapp-4d4e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368125290175:ios:40dc0ae0c5bf2b0d</string>
	<key>DATABASE_URL</key>
	<string>https://hybridapp-4d4e1.firebaseio.com</string>
</dict>
</plist>